{% extends "webapp/base.html" %}

{% load crispy_forms_tags %} <!-- step 38 as in diary   -->
{% block content %}


<body>


     <div class="container bg-light shadow-md p-5 form-layout">

          <h3>Create Your Account</h3>
          <h5>Manage Your Tasks Today!</h5>
          <hr>
          <br>
          <form method="POST" autocomplete="off">
               {% csrf_token %} <!-- diary line 34-->


               {{form1.username|as_crispy_field}}

               <br>

               {{form1.password1|as_crispy_field}}

               <br>

               {{form1.password2|as_crispy_field}}

               <br>

               <!-- {{form.as_p}} -->
               {% comment %} {{form1|crispy}} {% endcomment %}

               <button type="submit" class="btn btn-primary w-100 btn-block p-2">Create Account &nbsp;<i
                         class="fa fa-user-o" aria-hidden="true"></i></button>
          </form>
          <br>
          <div class="text-center">
               <p>Already have an aaccount? <a href="{% url 'my-login' %}">Login</a></p>
          </div>


     </div>
     <br>

</body>

{% endblock %}